html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'YS Text', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #050814;
}

code {
  font-family: 'YS Text', sans-serif;
}

* {
  box-sizing: border-box;
}
